<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BinLabeler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Style the color picker to display a more prominent color box */
        .color-box {
            width: 30px;
            height: 30px;
            border: 1px solid #000;
            display: inline-block;
            cursor: pointer;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>BinLabeler</h1>

    <div class="product-line">
        <h2>Product Lines</h2>
        <div id="product_lines"></div>
        <button type="button" onclick="addProductLine()">Add Product Line</button>
    </div>

    <div class="workstation-list">
        <h2>Workstations</h2>
        <select id="product_line_select" onchange="loadWorkstationsForProductLine()">
            <option value="">Select Product Line</option>
        </select>
        <div id="workstations"></div>
    </div>


	<div class="add-workstation">
		<h2>Add Workstation</h2>
		<div class="form-group">
			<label for="workstation_name">Workstation Name:</label>
			<input type="text" id="workstation_name" placeholder="Enter Workstation Name">
		</div>
		<div class="form-group">
			<label for="workstation_color">Workstation Color:</label>
			<input type="color" id="workstation_color" value="#ff0000" class="color-picker">
		</div>
		<button type="button" onclick="addWorkstation()">Add Workstation</button>
	</div>



    <div class="part-input-methods">
        <h1>Part Entry</h1>
        <div class="form-group">
            <label for="workstation_select">Workstation:</label>
            <select id="workstation_select">
                <option value="">Select Workstation</option>
            </select>
        </div>

        <div class="part-entry">
            <h2>Add Part</h2>
            <div class="form-group">
                <label for="single_part_number">Part Number:</label>
                <input type="text" id="single_part_number" placeholder="Enter part number">
            </div>
            <button type="button" onclick="addIndividualPart()">Add Part</button>
        </div>

        <div class="part-entry">
            <h2>Add List of Parts</h2>
            <div class="form-group">
                <label for="part_numbers">Part Numbers:</label>
                <textarea id="part_numbers" placeholder="Enter part numbers, one per line..." required></textarea>
            </div>
            <button type="button" onclick="generateFieldsFromList()">Generate Fields from List</button>
        </div>
    </div>

    <form id="label-form">
        <div class="dynamic-fields"></div>
        <button type="submit">Generate PDF</button>
        <button type="button" onclick="saveLabels()">Save Labels</button>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
